@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}
.container {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #191919;
}
.content {
    text-align: center;
    padding-top: 44vh;
}
h1 {
    font-size: 32px;
    font-weight: 700;
    color: #00ff88;
}
h2 {
    padding: 36vh 0 2vh 0;
    color: #cccccc;
}
a {
    text-decoration: none;
    color: #eeeeee;
}