@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}
.container {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #191919;
}
.content {
    text-align: center;
    padding-top: 44vh;
}
h1 {
    font-size: 32px;
    font-weight: 700;
    color: #00ff88;
}
h2 {
    font-size: 14px;
    font-weight: 400;
    padding: 36vh 0 2vh 0;
    color: #cccccc;
}
a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #eeeeee;
}